name: Build Jar 
on:
  workflow_dispatch:  
    inputs:  
      logLevel:  
        description: 'Log level'  
        required: true  
        default: 'warning'
  push:  
    branches: [ "main" ]  
  pull_request:  
    branches: [ "main" ] 
jobs: 
  build: 
    runs-on: ubuntu-latest 
    permissions: write-all 
    steps:  
      - uses: actions/checkout@v3  
      - name: Set up JDK 17  
        uses: actions/setup-java@v3  
        with:  
          java-version: '17'  
          distribution: 'temurin'  
      - name: Grant execute permission to gradlew 
        run: chmod +x ./gradlew 
      - name: Build Jar 
        run: | 
          ./gradlew build 
          mkdir -p ${{ github.workspace }}/artifacts 
          mv target/*.jar ${{ github.workspace }}/artifacts/ 
      - name: Set version as environment variable 
        run: | 
          RELEASE_VERSION=$(./gradlew properties -q | grep "version:" | awk '{print $2}') 
          echo "RELEASE_VERSION=$RELEASE_VERSION" >> $GITHUB_ENV 
      - name: Use Version Number 
        run: | 
          echo "Version number is ${{ env.RELEASE_VERSION }}" 
      - name: DONE!!! 
        run: echo "done"
